<html>
    <head>
        <title>DBaaS login</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div id="container">
            <div class="title">
                <h1>Enter you login credentials</h1>
            </div>
            <div id="content">
                <form method="post" action="{{ url_for('hello') }}">
                  <label for="yourusername">Please enter your username:</label>
                  <input type="text" name="yourusername" /><br />
                  <label for="yourpassword">Please enter your password:</label>
                  <input type="password" name="yourpassword" /><br />
                  <input type="submit" />
                </form>
            </div>
            </div>
        </div>
    </body>
</html>
 
